.buy {
  padding: 3px;
  margin: 2px;

  border: 1px solid #2338d9;
  max-width: 125px;
  min-width: 125px;
  /* #dc2f55; */
}

.sell2 {
  padding: 6px;
  margin: 3px;

  border: 1px solid #07a00f;
  background-color: #07a00f;
  max-width: 125px;
  min-width: 125px;
  /* #dc2f55; */
}

.text-darkgreen {
  color: white;
}

.buy:hover,
.sell2:hover {
  text-decoration: none;
}

.buy_caption {
  color: #dc2f55;
}

.buy_intro {
  color: #dc2f55;
}

.padded {
  padding: 10px;
}

.padded2 {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
}
