.image_upload {
  /* display: flex; */
  flex-direction: column;
  min-width: 300px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
  background: #ffffff;
  border: 1px solid #d9232d;
  padding: 30px;
  border-radius: 20px;
}

.choose {
  display: flex;
  justify-content: space-around;
}

.image_input,
.image_input:focus,
.image_input:after,
.image_input:active {
  border: 0px;
  border-bottom: 1px solid #d9232d;
  color: #d9232d;
  outline: none;
  text-align: center;
}

.btm-text {
  color: #d9232d;
}
