.sell {
  padding: 6px;
  margin: 6px;
  border: 1px solid #059b05;
  max-width: 155px;
  /* #dc2f55; */
}

.sell:hover {
  text-decoration: none;
}

.sell_caption {
  color: #160316;
}

.sell_intro {
  color: #160316;
}

.padded {
  padding: 15px;
  margin: 15px;
}

.padded2 {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}
